*.class

# Package Files #
*.jar
*.war
*.ear

# Properties
twitter4j.properties

# DB files
flightsdb.*

# useful libs
!lib/hsqldb.jar
!lib/twitter4j-core-2.2.5.jar

# results
results/

*.pydevproject
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
